/* Work Sans Font From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Setting Fonts */
* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.p-text-color {
    color: #131313;
}
.s-text-color {
    color: #727272;
}

/* Header Section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
#nav-logo {
    font-size: 2.813rem;
    font-weight: 700;
}
nav > ul {
    display: flex;
}
nav li {
    list-style-type: none;
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.banner-title, .banner-description {
    text-align: center;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    margin-top: 116px;
}
.banner-description {
    font-size: 1rem;
    margin-top: 30px;
}
.primary-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-primary {
    border: 0;
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    padding: 15px;
    border-radius: 8px;
    margin-top: 50px;
}
.banner img {
    width: 100%;
    margin-top: 50px;
}

/* Screen Size <= 576px */

@media screen and (max-width: 480px) {
    /* Header & Banner Section */
    header {
        padding: 30px 70px;
    }
    #nav-logo {
        font-size: 1rem;
    }
    nav li {
        margin-left: 20px;
    }
    .banner-title {
        font-size: 2.5rem;
        margin-top: 90px;
    }
}

/* Screen Size >= 576px && <= 768px*/

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        padding: 30px 100px;
    }
    #nav-logo {
        font-size: 1rem;
    }
    nav li {
        margin-left: 20px;
    }
    .banner-title {
        font-size: 3rem;
        margin-top: 100px;
    }
}

/* Screen Size >= 768px && <= 992px */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        padding: 30px 100px;
    }
    #nav-logo {
        font-size: 2rem;
    }
    nav li {
        margin-left: 30px;
    }
    .banner-title {
        font-size: 3rem;
        margin-top: 100px;
    }
}

/* Screen Size >= 992px && <= 1200px */

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #nav-logo {
        font-size: 2rem;
    }
    .banner-title {
        font-size: 2.5rem;
        margin-top: 100px;
    }
}
